@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
@use "@/styles/container" as *;

.FAQBlock {
  padding: 40px 0;
}

.FAQBlockTitle {
  font-family: var(--font-geist-mono);
  @include fontSize(52px, 400, 88px);
  color: $title-color;
  margin-bottom: 4px;
}

.FAQBlockRequesr {
  @include fontSize(22px, 400, 30px);
  color: $text-color;
  margin-bottom: 21px;
}

.FAQList {
  width: 100%;
  position: relative;
}

.FAQItem {
  width: 100%;
  margin-left: auto;
  transition: transform $transition-time ease, filter $transition-time ease;
  transform: translateX(0);
  filter: blur(0);
  @include mediaQuery($screen-size-m) {
    width: 88%;
  }
  @include mediaQuery($screen-size-l) {
    width: 78%;
  }
  &:hover {
    transform: translateX(-4px);
    filter: blur(0);
  }
}

.FAQQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $title-color;
  color: $background-color;
  border: none;
  @include fontSize(22px, 400, 30px);
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 24px 16px;
  margin-bottom: 2px;
}

.icon img {
  display: block;
}

.FAQAnswerWrapper {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.FAQAnswer {
  @include fontSize(16px, 400, 27px);
  padding: 24px 16px;
  color: $text-color;
}
