@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.button {
  @include flexCenter;
  @include font(14px, 1.2vw, 14px, 500, 1.7);
  background-color: $primary-button-background-color;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  opacity: 1;
  padding: 8px;
  // transition: background-color 0.3s ease;
  @include hover(background-color, 0.3s, $primary-button-background-hover);
}
