@use "@/styles/mixins" as *;
@use "@/styles/container" as *;
@use "@/styles/variables" as *;

@use "@/components/SocialNetworks/socialNetworks.module.scss";

.section__hero {
  position: relative;
  background-color: #fff;
  background: url("/flower.png") no-repeat center;
  // background-size: 75vw auto;
  background-size: clamp(200px, 75vw, 935px) auto;

  // @include mediaQuery($screen-size-s) {
  // }
  // @include mediaQuery($screen-size-m) {
  // }
  // @include mediaQuery($screen-size-l) {
  // }
}

.section__hero__title {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 20%);
  max-width: 1100px;
  width: 100%;
}

.title {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: fit-content;

  @include font(32px, 12.5vw, 156px, 800, 1.3);
  @include mediaQuery($screen-size-s) {
  }
  @include mediaQuery($screen-size-m) {
  }
  @include mediaQuery($screen-size-l) {
  }
}

.char {
  position: relative;
  display: inline-block;
  cursor: pointer;

  span {
    color: #fff;
    -webkit-text-stroke: 1px $title-color;

    transition: 0.3s ease;
    display: inline-block;
  }

  &::before {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    @include flex;
    color: $title-color;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }

  &:hover span {
    opacity: 0;
  }

  &:hover::before {
    transform: scaleY(1);
  }
}
.filled {
  span {
    color: $title-color;
    -webkit-text-stroke: none;
  }

  &:hover span {
    color: transparent;
    -webkit-text-stroke: 1px $title-color;
  }
}

.laptop {
  position: absolute;
  left: 50%;
  bottom: 25%;
  transform: translate(-50%, 58%);

  background: url("/laptop.png") no-repeat center;
  background-size: contain;

  @include mediaQuery($screen-size-s) {
    width: 100vw;
    max-width: 320px;
    aspect-ratio: 185 / 145;
    background-size: contain;
  }

  @include mediaQuery($screen-size-m) {
    width: 80vw;
    max-width: 412px;
    aspect-ratio: 411 / 330;
  }

  @include mediaQuery($screen-size-l) {
    width: 75vw;
    max-width: 511px;
    aspect-ratio: 511 / 409;
  }
}

.container__text {
  position: absolute;
  bottom: 0;
}

.text {
  @include mediaQuery($screen-size-s) {
    display: none;
  }
  @include mediaQuery($screen-size-m) {
    display: block;
    max-width: 220px;
    @include fontSize(22px, 400, 1.4);

    color: #014421;
    padding-bottom: 112px;
  }
}

.container__socialNetworks {
  position: absolute;
  right: 0;
  top: 40%;

  display: flex;
  gap: 4px;
  flex-direction: column;
  // align-items: flex-end;
}

.network__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.network__list__link {
  width: 40px;
  height: 40px;
}
.phone {
  background-color: #5451ff;
  outline-color: #5451ff;
}
.network__list__link__hero {
  width: 40px;
  height: 40px;
}
.network__list__icon__hero {
  width: 24px;
  height: 24px;
}
