@use "@/styles/mixins" as *;
@use "@/styles/container" as *;
@use "@/styles/variables" as *;

@use "@/components/SocialNetworks/socialNetworks.module.scss";

.section__hero {
  position: relative;

  background-color: #fff;
  background: url("/flower.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  // @include flex;

  width: fit-content;
  padding-top: 160px;
  @include font(32px, 12.5vw, 156px, 800, 1.3);
}

.char {
  position: relative;
  display: inline-block;
  cursor: pointer;

  span {
    color: #fff;
    -webkit-text-stroke: 1px $title-color;

    transition: 0.3s ease;
    display: inline-block;
  }

  &::before {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    @include flex;
    color: $title-color;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }

  &:hover span {
    opacity: 0;
  }

  &:hover::before {
    transform: scaleY(1);
  }
}
.filled {
  span {
    color: $title-color;
    -webkit-text-stroke: none;
  }

  &:hover span {
    color: transparent;
    -webkit-text-stroke: 1px $title-color;
  }
}

.laptop {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  background-color: #fff;
  background: url("/laptop.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 511px;

  height: 409px;
}

.text {
  max-width: 220px;
  @include fontSize(22px, 400, 1.4);

  color: #014421;
  padding-bottom: 112px;
}

.container__socialNetworks {
  position: absolute;
  right: 0;
  top: 40%;

  display: flex;
  gap: 4px;
  flex-direction: column;
  // align-items: flex-end;
}

.network__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.network__list__link {
  width: 40px;
  height: 40px;
}
.phone {
  background-color: #5451ff;
  outline-color: #5451ff;
}
.network__list__link__hero {
  width: 40px;
  height: 40px;
}
.network__list__icon__hero {
  width: 24px;
  height: 24px;
}
