// color
$primary-button-background-color: #145a32;

$primary-button-background-hover: #1a631a;

$secondary-color: #ff9800;

$background-color: #fffefa;
$title-color: #014421;
$text-color: #2d3037;

// time
$transition-time: 0.3s;

// screen
$screen-size-l: 1280px;
$screen-size-m: 768px;
$screen-size-s: 320px;

$screen-max-size-s: 767px;
$screen-max-size-m: 1279px;
$screen-max-size-l: 1535px;
