@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.box__localeButton {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.localeButton {
  max-width: 30px;
  max-height: 30px;
  padding: 10px;

  @include hover(background-color, 0.3s, $primary-button-background-hover);
}
