@import "@/styles/container";

.container__header {
  @include flexSpaceBetween;
}

.nav__box {
  @include flex;
}

.locale__wrapper {
  position: relative;
  margin-left: 35px;

  & > div {
    position: absolute;
    top: 100%;
    right: 10px;
    z-index: 10;

    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  & > div {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
  }
}
